<footer style="text-align: center; padding: 1em 0; background: #002855; font-size: 0.95em;">
    <div>
        &copy; <%= new Date().getFullYear() %> Fintrack. All rights reserved.
    </div>
    <div>
        Contact us: <a href="mailto:support@fintrack.com">support@fintrack.com</a>
    </div>
</footer>