<div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="sidebarMenu">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-white">User Panel</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body p-0">
    <!-- Match Express routes -->
    <a href="/user/dashboard" class="active">Dashboard</a>
    <a href="/user/receipts/upload">Manage Receipts</a>
    <a href="/user/budget">Budget</a>
    <a href="/subscriptions/billing">Billing</a>
    <!-- <a href="/user/announcements">Announcements</a> -->
    <!-- <a href="/user/settings">Settings</a> -->
  </div>
</div>
